<div class="row mb-3">
  <div class="col text-left">
    <%= link_to "上一頁", @order, class: "btn btn-primary" %>
  </div>
  <div class="col text-right">
    <%= link_to t_action(:back), orders_path, class: "btn btn-primary" %>
  </div>
</div>
<%= render 'form', order: @order %>
